{% extends "base.html" %} {% block title %} User Details {% endblock %} {% block content %}
<h1>Show User Details</h1>
<div class="container" style="margin-top: 2em">
  <!-- BEGIN flashed messages -->
  {% for msg in get_flashed_messages() %}
  <div class="alert alert-success">{{msg}}</div>
  {% endfor %}
  <!-- END flashed messages -->
</div>

{% if "username" in session %}
<div class="container">
  <ul class="list-group">
    <div>
      <li class="list-group-item active">{{user.username}}</li>
    </div>
    <div>
      <li class="list-group-item">Name: {{user.full_name()}}</li>
    </div>
    <div>
      <li class="list-group-item">Email: {{user.email}}</li>
    </div>
    <div>
      <li class="list-group-item">First: {{user.first_name}}</li>
    </div>
    <div>
      <li class="list-group-item">Last: {{user.last_name}}</li>
    </div>
  </ul>
</div>

<div class="container">
  {% for feedback in user_feedback %}
  <ul class="list-group">
    <!-- ! get rid of list item markers via css or via styling -->
    <li class="list-item"><h3>{{feedback.title}}</h3></li>
    <li class="list-item"><p>{{feedback.content}}</p></li>
  </ul>
  {% endfor %}
</div>
{% endif %} {% endblock %}
