{% extends "base.html" %} {% block title %}{{session['username']}} {% endblock %} {% block content %}

<!-- ?START ADDITIONAL CONTENT -->
<br />
<div class="row justify-content-center">This is some blank space left for other information</div>
<br />
<!-- !END ADDITIONAL CONTENT -->

<!--? START feedback print section-->
<div class="row justify-content-center">
  {% for feedback in all_feedback %}
  <div class="list-group col-md-8" data-id="{{feedback.user.username}}">

    <ul class="list-group">
      <li class="list-group-item">{{feedback.title}}</li>
      <li class="list-group-item">
      {{feedback.content}} {% if feedback.username == session["username"]%}
        <ul class="list-group">
          <li class="list-group-item">
            <form class="card-link" style="display: inline-block" action="/feedback/{{feedback.id}}/update">
              <button class="btn btn-sm" style="color: green;"><i class="fa-solid fa-user-pen"></i> Update</button>
              </form>
          </li>
          <li class="list-group-item">
              <form class="card-link" method="POST" style="display: inline-block" action="/feedback/{{feedback.id}}/delete">
                <button class="btn btn-sm" style="color: red;"><i class="fa-solid fa-trash-can"></i> | Delete</button>
              </form>
        </li>
      </ul>
        {% endif %}
      </li>
      </li>
      <li class="list-group-item" style="color: #365280"><i class="fa-regular fa-user" style="color: #f2771a"></i> | {{feedback.username}}</li>
    </ul>
  </div>
<hr>

  {% endfor %}

</div>
<!--! END feedback section -->

{% endblock %}
