{% extends "base.html" %} {% block title %}{{session['username']}} {% endblock %} {% block content %}

<!--? START feedback  form-->
<!-- <div class="row justify-content-center">
  <h4 class="display-4 row justify-content-center">add to all feedback</h4>
  <h5 class="display-5 row justify-content-center">{{session['username']}}</h5>

  <div class="col-md-8">
    <form method="POST">
      {{ form.hidden_tag() }} {% for field in form if field.widget.input_type != 'hidden'%}

      <div class="form-group">
        {{field.label}} {{field(class_="form-control")}} {% for err in field.errors %}
        <small class="form-text text-danger"> {{err}} </small>
        {% endfor %}
      </div>
      {% endfor %}

      <button class="btn btn-success">Feed</button>
    </form>
  </div>
</div> -->
<!--! END feedback form -->

<!-- ?START ADDITIONAL CONTENT -->
<br />
<div class="row justify-content-center">This is some blank space left for other information</div>
<br />
<!-- !END ADDITIONAL CONTENT -->

<!--? START feedback print section-->
<div class="row justify-content-center">
  {% for feedback in all_feedback %}
  <div class="list-group col-md-8" data-id="{{feedback.user.username}}">
    <ul class="list-group">
      <li class="list-group-item">{{feedback.title}}</li>
      <li class="list-group-item">
        {{feedback.content}} {% if feedback.username == session["username"]%}
        <form class="card-link" method="POST" style="display: inline-block" action="/feedback/{{feedback.id}}/delete">
          <button class="btn btn-sm"><i class="fa-solid fa-trash-can"></i></button>
        </form>
        {% endif %}
      </li>
      <!-- TODO insert icon to represent user from font awesome -->
      <li class="list-group-item" style="color: #365280"><i class="fa-regular fa-user" style="color: #f2771a"></i> | {{feedback.username}}</li>
    </ul>
  </div>
  {% endfor %}
</div>
<!--! END feedback section -->

{% endblock %}
