{% extends "base.html" %} {% block title %} login {% endblock %} {% block content %}
<!-- ? BEGIN login message -->
<div class="container">
  <h1 class="display-1 text-center">Login</h1>
  <p class="lead text-center">
    Login Below. Don't have an account? <a href="/register"> <i class="fa-solid fa-user-plus" style="color: #f2771a"></i></a>
  </p>
  <!-- ! END login message -->

  <!-- ?BEGIN FORM container -->
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form action="/login" method="POST">
        {{ form.hidden_tag() }} {% for field in form if field.widget.input_type != 'hidden'%}

        <div class="form-group">
          {{field.label}} {{field(class_="form-control", required=False)}} {% for err in field.errors %}
          <small class="form-text text-danger"> {{err}} </small>
          {% endfor %}
        </div>
        {% endfor %}

        <button class="btn btn-success">Login</button>
      </form>
    </div>
  </div>
  <!--! END form container -->
</div>
{% endblock %}
