{% extends "base.html" %} {% block title %} Update Feedback Form {% endblock %} {% block content %}

<!--? START feedback  form-->
<div class="row justify-content-center">
  <h5 class="display-5 row justify-content-center" style="color: #f2771a">{{session['username']}}, we all rethink our words sometimes...</h5>

  <div class="col-md-8">
    <form action="/feedback/{{feedback.id}}/update" method="POST">
      {{ form.hidden_tag() }} {% for field in form if field.widget.input_type != 'hidden'%}

      <div class="form-group">
        {{field.label}} {{field(class_="form-control")}} {% for err in field.errors %}
        <small class="form-text text-danger"> {{err}} </small>
        {% endfor %}
      </div>
      {% endfor %}

      <button class="btn btn-primary"><i class="fa-solid fa-signature" style="color: #f2771a"></i></button>
    </form>
  </div>
</div>
{% endblock %}
<!--! END feedback form -->
